* {
    padding : 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(82,77,238,1) 0%, rgba(146,228,240,1) 100%);
    overflow-y: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

}


#searchContainer {
    position: relative;
}
#searchBox {
    width: 350px; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Centrez la barre de recherche horizontalement */
    text-align: center;
    height: 37px;
    border-radius: 10px;
    font-size: 1.2rem;
}

#searchBox input {
    padding-left: 30px; /* Ajoutez un espace pour l'icône à gauche */
}

#searchContainer i.fas.fa-search {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    left: 10%;
    color: grey;
    font-size: 1.3em;
}





#allTogether {
    width: 50VW;
    height: 50VH;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(158 158 158 / 40%);
    border-radius: 10px;
}

div#meteoElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgb(250, 249, 247);
    font-size: 1.5rem;
}

div#cityElement {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

div#cityDescription {
    display: flex;
    flex-direction: column;
    gap: 20PX;
}

#prevision {
    background-color: rgb(134 126 126 / 41%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.day-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98%;
    width: 230px;
    background-color: #eeeced4f;
}


p {
    font-size: 2rem;
    color: white;
}

p.cityName {
    text-align: center;
}

h1.textTitle {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}


.temps {
    font-size: 1.5rem;
}
.feels-like {
    font-size: 1.5rem;
  }

  .humidity {
    font-size: 1.5rem;
}

.wind {
    font-size: 1.5rem;
}

.pressure {
    font-size: 1.5rem;
}